# SPRINT - 2

## Item - Levantamento dos cálculos dos indicadores.

## Item - Levantamento do procedimento de consolidação dos dados de produção e apontamentos.

## Item - Desenvolvimento do processamento de Limpeza, Formatação e Classificação dos dados, e gravação na "Refined Data".

<br>
<br>

Autor.: Sérgio C. Medina

#### Declaração dos Pacotes, Libs ou Classes utilizadas no processo.

In [2]:
# Declaração dos Pacotes, Libs ou Classes utilizadas no processo.
import os
import io
import math
import pandas as pd
import gcsfs
import pyarrow
import pyarrow.parquet as pq
from google.cloud import storage
from datetime import datetime, timedelta

import sys
sys.path.append('../../pods')

# configurando variavel de ambiente com o arquivo de credenciais para conexão GCP
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = "..\..\secrets\edc-igti-smedina-4920e12ac565.json"
#os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = "/Users/sergiomedina/Downloads/edc-igti-smedina-4920e12ac565.json"

# Funções de integração com o Cloud Storage
from utilGCS import utilGCS
gcs = utilGCS(bucketName='edc-pa-i4-data')

# Funções diversas de manipulação de dados
from utilFuncs import utilFuncs
func = utilFuncs()

#### Dados na "raw-data-zone" pasta "DATAOP"

In [3]:
dtexec = "2021-11-10"
source = "dataop"
folder = f"raw-data-zone/{source}"

df_dataop = gcs.read_csv_to_df(folder=folder, dtexec=dtexec, sep=";")

if df_dataop is not None:
    # Limpa os dados nulos
    df_dataop.dropna(inplace=True)

    # Define os tipos de cada coluna
    df_dataop['OP'] = df_dataop['OP'].astype(str)
    df_dataop['CODMAT'] = df_dataop['CODMAT'].astype(str)
    df_dataop['LOTEFAB'] = df_dataop['LOTEFAB'].astype(str)
    df_dataop['DTINI'] = pd.to_datetime(df_dataop['DTINI'])
    df_dataop['DTFIM'] = pd.to_datetime(df_dataop['DTFIM'])
    df_dataop['QTDPLAN'] = df_dataop['QTDPLAN'].astype('int32')

    # Definindo a Data de Produção DTPROD
    df_dataop.insert(0, 'DTPROD', None)
    df_dataop['DTPROD'] = df_dataop.apply(lambda row:func.compate_dtprod(row['DTINI'], row['DTFIM']),axis=1)
    df_dataop['DTPROD'] = df_dataop['DTPROD'].astype(str)

    # save parquet - gcp
    # https://gist.github.com/lpillmann/fa1874c7deb8434ca8cba8e5a045dde2
    # https://blog.datasyndrome.com/python-and-parquet-performance-e71da65269ce

    # Verifica se existe arquivos no path para deletar
    gcs.delete_blob(pathName=f"processing-zone/{source}/DTPROD={dtexec}")

    # Gravando na Processing-Zone
    gcs.write_pandas_to_parquet(path=f"edc-pa-i4-data/processing-zone/{source}", df=df_dataop, partitionCols=['DTPROD'])

DEBUG -> SEARCHING TO DELETE: processing-zone/dataop/DTPROD=2021-11-10
DEBUG -> DELETE: /b/edc-pa-i4-data/o/processing-zone%2Fdataop%2FDTPROD%3D2021-11-10%2Fd5f1a5ecd938453aaabb5be395f2369e.parquet
DEBUG -> SUCCESS: edc-pa-i4-data/processing-zone/dataop

In [ ]:
df_dataop.dtypes

In [ ]:
# Teste de leitura do Parquet
source = "dataop"
#df = gcs.read_parquet_to_pandas(path=f"edc-pa-i4-data/processing-zone/{source}")
df = gcs.read_parquet_to_pandas(path=f"edc-pa-i4-data/processing-zone/{source}", filters=[('DTPROD', '=', '2021-11-08')])

df

#### Dados na "raw-data-zone" pasta "DATACONFIRM"

In [2]:
dtexec = "2021-11-08"
source = "dataconfirm"
folder = f"raw-data-zone/{source}"

# Carregando os dados do arquivo da data e linha informados
df_dataconfirm = gcs.read_csv_to_df(folder=folder, dtexec=dtexec, sep=";")

if df_dataconfirm is not None:

    # verificando se existe dados do dia posterior para completar o turno 3
    nextDay = datetime.strptime(dtexec, "%Y-%m-%d") + timedelta(days=1)
    print("dtexec:", dtexec, " next:", nextDay)    
    df = gcs.read_csv_to_df(folder=folder, dtexec=nextDay.strftime("%Y-%m-%d"), sep=";")
    if df is not None:
        df_dataconfirm = df_dataconfirm.append(df, sort=False, ignore_index=True)    

    # Limpa os dados nulos
    df_dataconfirm.dropna(inplace=True)

    # Alterando o delimitador decimal de "," para "."
    df_dataconfirm['KGPACK']    = df_dataconfirm.KGPACK.str.replace(',','.')
    df_dataconfirm['KGUNMED']   = df_dataconfirm.KGUNMED.str.replace(',','.')

    # Define os tipos de cada coluna
    df_dataconfirm['DTAPONT']   = pd.to_datetime(df_dataconfirm['DTAPONT'])
    df_dataconfirm['LOTE']      = df_dataconfirm['LOTE'].astype(str)
    df_dataconfirm['PACKID']    = df_dataconfirm['PACKID'].astype(int)
    df_dataconfirm['UNIDADES']  = df_dataconfirm['UNIDADES'].astype(int)
    df_dataconfirm['KGPACK']    = df_dataconfirm['KGPACK'].astype(float)
    df_dataconfirm['KGUNMED']   = df_dataconfirm['KGUNMED'].astype(float)

    # Definindo a Data de Produção DTPROD
    df_dataconfirm.insert(0, 'DTPROD', None)
    df_dataconfirm['DTPROD'] = df_dataconfirm.apply(lambda row:func.calc_dtprod(row['DTAPONT']),axis=1)
    df_dataconfirm['DTPROD'] = df_dataconfirm['DTPROD'].astype(str)
    
    # Definindo a ID do Turno de Produção IDTURNO
    df_dataconfirm.insert(1, 'IDTURNO', 0)
    df_dataconfirm['IDTURNO'] = df_dataconfirm.apply(lambda row:func.calc_idturno(row['DTAPONT']),axis=1)
    df_dataconfirm['IDTURNO'] = df_dataconfirm['IDTURNO'].astype(int)

    # Seleciona apenas o periodo referente ao DTPROD
    df_dataconfirm = df_dataconfirm.loc[ df_dataconfirm['DTPROD'] == dtexec ]

    # reindex
    df_dataconfirm = df_dataconfirm.reset_index(drop=True)

    # Verifica se existe arquivos no path para deletar
    gcs.delete_blob(pathName=f"processing-zone/{source}/DTPROD={dtexec}")

    # Gravando na Processing-Zone
    gcs.write_pandas_to_parquet(path=f"edc-pa-i4-data/processing-zone/{source}", df=df_dataconfirm, partitionCols=['DTPROD'])

dtexec: 2021-11-08  next: 2021-11-09 00:00:00

In [3]:
df_dataconfirm

,DTPROD,IDTURNO,DTAPONT,LOTE,PACKID,UNIDADES,KGPACK,KGUNMED
0,2021-11-08,1,2021-11-08 08:04:06,TB70394,1,51,295.545,5.795
1,2021-11-08,1,2021-11-08 08:52:20,TB70394,2,49,284.004,5.796
2,2021-11-08,1,2021-11-08 09:42:48,TB70394,3,53,307.188,5.796
3,2021-11-08,1,2021-11-08 10:43:03,TB70394,4,51,295.545,5.795
4,2021-11-08,1,2021-11-08 11:24:04,TB70394,5,50,289.800,5.796
5,2021-11-08,1,2021-11-08 12:21:19,TB70394,6,56,324.576,5.796
6,2021-11-08,1,2021-11-08 13:14:00,TB70394,7,51,295.596,5.796
7,2021-11-08,2,2021-11-08 14:00:46,TB70394,8,53,307.135,5.795
8,2021-11-08,2,2021-11-08 15:02:12,TB70394,9,56,324.576,5.796
9,2021-11-08,2,2021-11-08 15:49:20,TB70394,10,50,289.800,5.796
10,2021-11-08,2,2021-11-08 16:52:10,TB70394,11,54,312.930,5.795
11,2021-11-08,2,2021-11-08 17:43:59,TB70394,12,56,324.576,5.796
12,2021-11-08,2,2021-11-08 18:43:03,TB70394,13,55,318.780,5.796
13,2021-11-08,2,2021-11-08 19:40:25,TB70394,14,56,324.576,5.796
14,2021-11-08,2,2021-11-08 20:20:27,TB70394,15,53,307.188,5.796
15,2021-11-08,2,2021-11-08 21:21:41,TB70394,16,55,318.725,5.795
16,2021-11-08,3,2021-11-08 22:15:48,TB70394,17,53,307.135,5.795
17,2021-11-08,3,2021-11-08 23:03:27,TB70394,18,55,318.780,5.796
18,2021-11-08,3,2021-11-09 00:09:11,TB70394,19,56,324.576,5.796
19,2021-11-08,3,2021-11-09 01:00:27,TB70394,20,52,301.340,5.795
20,2021-11-08,3,2021-11-09 01:46:46,TB70394,21,55,318.780,5.796
21,2021-11-08,3,2021-11-09 02:37:47,TB70394,22,53,307.188,5.796
22,2021-11-08,3,2021-11-09 03:39:38,TB70394,23,56,324.576,5.796
23,2021-11-08,3,2021-11-09 04:30:50,TB70394,24,50,289.800,5.796
24,2021-11-08,3,2021-11-09 05:22:12,TB70394,25,52,301.340,5.795

In [6]:
df_dataconfirm.groupby(
    ['DTPROD', 'IDTURNO', 'LOTE']
).agg(
    {
        'PACKID': 'count',
        'UNIDADES': 'sum',
        'KGPACK': 'sum',
        'KGUNMED': 'mean'
    }
)


# df = pd.DataFrame(df_dataconfirm.groupby(
#     ['DTPROD', 'IDTURNO', 'LOTE']
# ).agg(
#     {
#         'PACKID': 'count',
#         'UNIDADES': 'sum',
#         'KGPACK': 'sum',
#         'KGUNMED': 'mean'
#     }
# )).reset_index()

# df

                            PACKID  UNIDADES    KGPACK   KGUNMED
DTPROD     IDTURNO LOTE
2021-11-08 1       TB70394       7       361  2092.254  5.795714
           2       TB70394       9       488  2828.286  5.795667
           3       TB70394       9       482  2793.515  5.795667

#### Dados na "raw-data-zone" pasta "DATAPROD"

In [4]:
dtexec = "2021-11-09"
lineid = "101"
source = "dataprod"
folder = f"raw-data-zone/{source}"

# Carregando os dados do arquivo da data e linha informados
df_dataprod = gcs.read_csv_to_df(folder=folder, dtexec=dtexec, lineprod=lineid, sep=";")

if df_dataprod is not None:

    # verificando se existe dados do dia posterior para completar o turno 3
    nextDay = datetime.strptime(dtexec, "%Y-%m-%d") + timedelta(days=1)
    print("dtexec:", dtexec, " next:", nextDay)    
    df = gcs.read_csv_to_df(folder=folder, dtexec=nextDay.strftime("%Y-%m-%d"), lineprod=lineid, sep=";")
    if df is not None:
        df_dataprod = df_dataprod.append(df, sort=False, ignore_index=True)

    # Limpa os dados nulos
    df_dataprod.dropna(inplace=True)

    # Alterando o delimitador decimal de "," para "."
    df_dataprod['TOTMIN']=df_dataprod.TOTMIN.str.replace(',','.')

    # Define os tipos de cada coluna
    df_dataprod['OP'] = df_dataprod['OP'].astype(str)
    df_dataprod['LINE'] = df_dataprod['LINE'].astype('int16')
    df_dataprod['LINE'] = df_dataprod['LINE'].astype(str)
    df_dataprod['TIMESTAMP'] = pd.to_datetime(df_dataprod['TIMESTAMP'])
    df_dataprod['BATCH'] = df_dataprod['BATCH'].astype(str)
    df_dataprod['TIMER'] = df_dataprod['TIMER'].astype(str)
    df_dataprod['TOTMIN'] = df_dataprod['TOTMIN'].astype(float)
    df_dataprod['STSID'] = df_dataprod['STSID'].astype('int16')
    df_dataprod['STSDS'] = df_dataprod['STSDS'].astype(str)
    df_dataprod['PC'] = df_dataprod['PC'].astype(float)
    df_dataprod['GOOD'] = df_dataprod['GOOD'].astype(float)
    df_dataprod['REJECT'] = df_dataprod['REJECT'].astype(float)

    # Definindo a Data de Produção DTPROD
    df_dataprod.insert(0, 'DTPROD', None)
    df_dataprod['DTPROD'] = df_dataprod.apply(lambda row:func.calc_dtprod(row['TIMESTAMP']),axis=1)
    df_dataprod['DTPROD'] = df_dataprod['DTPROD'].astype(str)
    
    # Definindo a ID do Turno de Produção IDTURNO
    df_dataprod.insert(1, 'IDTURNO', 0)
    df_dataprod['IDTURNO'] = df_dataprod.apply(lambda row:func.calc_idturno(row['TIMESTAMP']),axis=1)
    df_dataprod['IDTURNO'] = df_dataprod['IDTURNO'].astype(int)

    # Seleciona apenas o periodo referente ao DTPROD
    df_dataprod = df_dataprod.loc[ df_dataprod['DTPROD'] == dtexec ]

    # reindex
    df_dataprod = df_dataprod.reset_index(drop=True)

    # Verifica se existe arquivos no path para deletar
    gcs.delete_blob(pathName=f"processing-zone/{source}/DTPROD={dtexec}")

    # Gravando na Processing-Zone
    gcs.write_pandas_to_parquet(path=f"edc-pa-i4-data/processing-zone/{source}", df=df_dataprod, partitionCols=['DTPROD'])

dtexec: 2021-11-09  next: 2021-11-10 00:00:00
DEBUG -> SEARCHING TO DELETE: processing-zone/dataprod/DTPROD=2021-11-09
DEBUG -> DELETE: /b/edc-pa-i4-data/o/processing-zone%2Fdataprod%2FDTPROD%3D2021-11-09%2Feff195f9828546fa8e3cb572d92f20d4.parquet
DEBUG -> SUCCESS: edc-pa-i4-data/processing-zone/dataprod

In [ ]:
df_dataprod.dtypes

In [16]:
#df.groupby(['col1', 'col2']).agg({'col3':'sum','col4':'sum'})
df_sts = pd.DataFrame(df_dataprod.groupby(
    ['DTPROD', 'IDTURNO', 'LINE', 'OP', 'BATCH', 'STSID', 'STSDS']
).agg(
    {
        'TOTMIN': 'sum',
        'PC': 'sum',
        'GOOD': 'sum',
        'REJECT': 'sum'
    }
)).reset_index()


df = df_dataprod.copy()

df['TMIN'] = df['TIMESTAMP']
df['TMAX'] = df['TIMESTAMP']
df.drop(['TIMESTAMP'], axis=1, inplace=True)

df = pd.DataFrame(df.groupby(
    ['DTPROD', 'IDTURNO', 'LINE', 'OP', 'BATCH']
).agg(
    {
        'TOTMIN': 'sum',
        'PC': 'sum',
        'GOOD': 'sum',
        'REJECT': 'sum',
        'TMIN': 'min',
        'TMAX': 'max'
    }
)).reset_index()


df['TMAXLIMIT'] = df.apply(lambda row:func.end_time(row['DTPROD'], row['IDTURNO']),axis=1)
df['TMAXLIMIT'] = pd.to_datetime(df['TMAXLIMIT'])
df['TMAXDIFF'] = (df['TMAXLIMIT']-df['TMAX']).dt.seconds/60
df['WIP'] = df.apply(lambda row:func.round_down(row['TMAXDIFF'], 0),axis=1)

df['TMINLIMIT'] = df.apply(lambda row:func.start_time(row['DTPROD'], row['IDTURNO']),axis=1)
df['TMINLIMIT'] = pd.to_datetime(df['TMINLIMIT'])
df['TMINDIFF'] = (df['TMIN']-df['TMINLIMIT']).dt.seconds/60

df['DIFF'] = df['TMAXDIFF'].diff().fillna(0)

df['TOTMINADJUSTED'] = round(df['TOTMIN'] + df['DIFF'],0)

df.drop(['TMAX', 'TMAXLIMIT', 'TMAXDIFF'], axis=1, inplace=True)
df.drop(['TMIN', 'TMINLIMIT', 'TMINDIFF', 'DIFF'], axis=1, inplace=True)

# Tot. Tempo turno
df['TPTOTAL'] = 480

df['TOTMINADJUSTED'] = df.apply(lambda row:(row['TOTMINADJUSTED'] if row['TOTMINADJUSTED']<480 else 480),axis=1)

# Tot. Tempo = WORKING
df['TPWORKING'] = df.apply(
    lambda row:df_sts.where(
    (df_sts.STSID==4) &
    (df_sts.DTPROD==row['DTPROD']) &
    (df_sts.IDTURNO==row['IDTURNO']) &
    (df_sts.LINE==row['LINE']) &
    (df_sts.OP==row['OP']) &
    (df_sts.BATCH==row['BATCH']) 
    ).agg(
        {'TOTMIN':'sum'}
    )
    ,axis=1)

df['TPWORKING'] = df.apply(lambda row:(row['TPWORKING'] if row['TPWORKING']<=row['TOTMINADJUSTED'] else row['TOTMINADJUSTED']),axis=1)

# Tot. Tempo = TPSTOPPLAN
df['TPSTOPPLAN'] = df.apply(
    lambda row:df_sts.where(
    (df_sts.STSID==3) &
    (df_sts.DTPROD==row['DTPROD']) &
    (df_sts.IDTURNO==row['IDTURNO']) &
    (df_sts.LINE==row['LINE']) &
    (df_sts.OP==row['OP']) &
    (df_sts.BATCH==row['BATCH']) 
    ).agg(
        {'TOTMIN':'sum'}
    )
    ,axis=1)

# Tot. Tempo = TPNOALLOC
df['TPNOALLOC'] = df.apply(
    lambda row:df_sts.where(
    (df_sts.STSID==0) &
    (df_sts.DTPROD==row['DTPROD']) &
    (df_sts.IDTURNO==row['IDTURNO']) &
    (df_sts.LINE==row['LINE']) &
    (df_sts.OP==row['OP']) &
    (df_sts.BATCH==row['BATCH']) 
    ).agg(
        {'TOTMIN':'sum'}
    )
    ,axis=1)    


# Tempo Programado para produzir
df['TPPROG'] = df['TPTOTAL'] - (df['TPNOALLOC']+df['TPSTOPPLAN'])


# Temp Ociosidade
df['TPIDLE'] = df.apply(
    lambda row:df_sts.where(
    (df_sts.STSID>=1) &
    (df_sts.STSID<3) &
    (df_sts.DTPROD==row['DTPROD']) &
    (df_sts.IDTURNO==row['IDTURNO']) &
    (df_sts.LINE==row['LINE']) &
    (df_sts.OP==row['OP']) &
    (df_sts.BATCH==row['BATCH']) 
    ).agg(
        {'TOTMIN':'sum'}
    )
    ,axis=1)

df['TPIDLE'] = ((df['TPPROG']-(df['TPWORKING'] + df['TPIDLE']))+df['TPIDLE'])

# Unidades - Produção Teórica
df['PCTHEOR'] = df['TPPROG'] * 1

# Unidades - Perda por performance
df['PCLOSS'] = df['PCTHEOR'] - df['PC']


# OEE Calc
# df['OEEDISP'] = df['TPWORKING'] / df['TPPROG']

# df['OEEPERF'] = df['PC'] / df['PCTHEOR']

# df['OEEQUAL'] = df['GOOD'] / df['PC']

# df['OEE'] = df['OEEDISP'] * df['OEEPERF'] * df['OEEQUAL']

In [17]:
df

,DTPROD,IDTURNO,LINE,OP,BATCH,TOTMIN,PC,GOOD,REJECT,WIP,TOTMINADJUSTED,TPTOTAL,TPWORKING,TPSTOPPLAN,TPNOALLOC,TPPROG,TPIDLE,PCTHEOR,PCLOSS
0,2021-11-09,1,101,211109L101,TB70395,474.52,350.0,314.0,36.0,5.0,475.0,480,341.24,0.0,0.0,480.0,138.76,480.0,130.0
1,2021-11-09,2,101,211109L101,TB70395,482.07,452.0,451.0,1.0,3.0,480.0,480,480.00,0.0,0.0,480.0,0.00,480.0,28.0
2,2021-11-09,3,101,211109L101,TB70395,477.85,445.0,440.0,5.0,5.0,480.0,480,477.85,0.0,0.0,480.0,2.15,480.0,35.0

In [11]:
df.agg(
    {
        'OEEDISP': 'prod',
        'OEEPERF': 'prod',
        'OEEQUAL': 'prod',
        'OEE': 'prod'
    }
)

OEEDISP    0.707732
OEEPERF    0.636565
OEEQUAL    0.885100
OEE        0.398753
dtype: float64